## Question 1
## Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
## Examples
## is_symmetrical(7227) ➞ True
## is_symmetrical(12567) ➞ False
## is_symmetrical(44444444) ➞ True
## is_symmetrical(9939) ➞ False
## is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(n):
    s = str(n)
    for i in range(len(s)//2):
        if s[i]!=s[-i-1]:
            return False
    return True   
is_symmetrical(7227)

True

In [2]:
is_symmetrical(9939)

False

In [3]:
is_symmetrical(1112111)

True

In [4]:
is_symmetrical(12567)

False

# Question 2 Given a string of numbers separated by a comma and space, return the product of the numbers.
## Examples
## multiply_nums(&quot;2, 3&quot;) ➞ 6
## multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
## multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
## multiply_nums(&quot;10, -2&quot;) ➞ -20

In [5]:
def multiply_nums(s):
    lst = s.split(', ')
    prod = 1
    for i in lst:
        prod*=int(i)
        
    return prod

multiply_nums("2, 3")

6

In [6]:
multiply_nums("1, 2, 3, 4")

24

In [7]:
multiply_nums("54, 75, 453, 0")

0

In [8]:
multiply_nums("10, -2")

-20

# Question 3 Create a function that squares every digit of a number.
## Examples
## square_digits(9119) ➞ 811181
## square_digits(2483) ➞ 416649
## square_digits(3212) ➞ 9414
## Notes
## The function receives an integer and must return an integer.

In [9]:
def square_digits(x):
    lst = []
    while x!=0:
        t = x%10
        lst.append(str(t**2))
        x=x//10
        
    return int(''.join(lst[::-1]))

square_digits(3212)

9414

In [10]:
square_digits(9119)

811181

In [11]:
square_digits(2483)

416649

# Question 4 Create a function that sorts a list and removes all duplicate items from it.
## Examples
## setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
## setify([4, 4, 4, 4]) ➞ [4]
## setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
## setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [12]:
def setify(lst):
    st = set(lst)
    l = list(st)
    return l
    
    
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [13]:
setify([4, 4, 4, 4])

[4]

In [14]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

# Question 5
## Create a function that returns the mean of all digits.
## Examples
## mean(42) ➞ 3
## mean(12345) ➞ 3
## mean(666) ➞ 6
## Notes
##  The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
##  The mean will always be an integer.

In [15]:
def mean(x):
    summ = 0
    cnt = 0
    while x!=0:
        t = x%10
        summ+=t
        cnt+=1
        x=x//10
        
    return summ//cnt

mean(42)

3

In [16]:
mean(666)

6

In [17]:
mean(12345)

3